:root {
    --text: rgb(90,90,90);
    --text-disabled: rgb(160,160,160);
    --link-text: rgb(102, 102, 235);
    --debug-text: green;
    --background: #ffffff;
    --border: rgb(90,90,90);
    --block-quote-border: #ccc;
    --block-quote-background: #f9f9f9;
    --toolbar-button-border: white;
    --toolbar-button-background-active:rgb(230, 230, 230);
    --modal-background: rgba(100,100,100,0.5);
    --selected-object-border: rgb(150, 150, 200);

}