:root {
    --text: rgb(90,90,90);
    --colour-primary: rgb(70,115,200);
    --colour-secondary: rgb(170,210,140);
    --text-success: rgb(30, 250, 60);
    --text-warning: rgb(250, 120, 30);
    --text-danger: rgb(250, 30, 30);
    --text-disabled: rgb(160,160,160);
    --text-link: rgb(102, 102, 235);
    --text-debug: green;
    --background: #ffffff;
    --background-hover: rgb(220,220,220);
    --border: rgb(90,90,90);
    --block-quote-border: #ccc;
    --block-quote-background: #f9f9f9;
    --toolbar-button-border: white;
    --toolbar-button-background-active:rgb(230, 230, 230);
    --modal-background: rgba(100,100,100,0.2);
    --selected-object-border: rgb(150, 150, 200);
}