.mentions-panel {
    box-sizing: border-box;
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/ opacity */
}
  
.mentions-panel .mentions-content {
    position: absolute;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    max-height: 200px;
    width: 200px;
    -webkit-box-shadow: 5px 5px 10px #5e5c5c;
            box-shadow: 5px 5px 10px #5e5c5c;
}
  
.mentions-panel input {
    width: 100%;
    padding:0.3rem;
}

.mentions-panel option {
    min-height:0;
    height:1.2rem;

}