// -----------------------------------------------------------------------------
// @section Themes
// -----------------------------------------------------------------------------

.theme-light {
    --colour-text: rgb(90,90,90);
    --colour-primary: rgb(70,115,200);
    --colour-secondary: rgb(170,210,140);
    --colour-success: rgb(35, 190, 55);
    --colour-warning: rgb(250, 120, 30);
    --colour-danger: rgb(250, 30, 30);
    --colour-disabled: rgb(180,180,180);
    --colour-link: rgb(102, 102, 235);
    --colour-debug: green;
    --colour-background-hover: hsl(0, 0%, 60%);
    --colour-background: hsl(0, 0%, 100%);
    --colour-border: rgb(90,90,90);
    --colour-blockquote-background: #f9f9f9;
    --colour-background-active:rgb(230, 230, 230);
    --colour-modal-panel-background: rgba(100,100,100,0.2);
    --custom-selected-border: var(--colour-secondary);
}

html.theme-dark {
    --colour-text: #ffffff;
    --colour-primary: rgb(70,115,200);
    --colour-secondary: rgb(170,210,140);
    --colour-success: rgb(30, 250, 60);
    --colour-warning: rgb(250, 120, 30);
    --colour-danger: rgb(250, 30, 30);
    --colour-disabled: rgb(120,120,120);
    --colour-link: rgb(102, 102, 235);
    --colour-debug: rgb(104, 207, 104);
    --colour-background-hover: hsl(0, 0%, 40%);
    --colour-background: hsl(0, 5%, 20%);
    --colour-border: hsl(0, 0%, 60%);
    --colour-blockquote-background: rgb(60, 60, 60);
    --colour-background-active:rgb(160,160,160);
    --colour-modal-panel-background: rgba(100,100,100,0.2);
    --custom-selected-border: rgb(250, 150, 90);
}

// -----------------------------------------------------------------------------
// @section General
// -----------------------------------------------------------------------------

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background:var(--colour-background);
    border: 1px solid var(--colour-border);
    color:var(--colour-text);
    border-radius: 0.3rem;
    padding:0.3rem 0.5rem;
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease;
}

button[disabled] {
    color:var(--colour-disabled);
}

button:not([disabled]):hover {
    cursor:pointer;
    background:var(--colour-background-hover);
    color:var(--colour-text);
    border-color:var(--colour-background-hover);
}

// -----------------------------------------------------------------------------
// @section index.html
// -----------------------------------------------------------------------------


body.index-body {

    background-color: var(--colour-background);

    .index-header {
        background-color:var(--colour-secondary);
        padding:0.5rem;

        header {
            display:flex;
            justify-content:flex-start;
            padding:0;
            margin:0;
        }
        img {
            width:80px;
            height:80px;
        }
        h1 {
            margin:0;
            padding:0 0.5rem;
            font-size: 1.3rem;
            color:var(--colour-primary);
        }
        h2 {
            margin:0;
            padding:0 0.5rem;
            font-size: 1rem;
            color:white;
            font-weight: normal;
        }
        .buttons {
            margin:0;
            display:flex;
            justify-content: flex-end;
        }
        .buttons span {
            display:inline-block;
            padding-left:0.5rem;
        }
    }

    button#save {
        margin-top:1rem;
    }
}



// -----------------------------------------------------------------------------
// @section Editor
// -----------------------------------------------------------------------------

.editor-container {
    position: relative;
    // color:var(--colour-text)
}

.editor-toolbar {
    padding:0.5rem;
    position:sticky;
    top:0rem;
    background:var(--colour-background);
    border:1px solid var(--colour-border);
}

.editor-toolbar-group {
    display:inline-block;
}

.editor-toolbar-group-separator {
    margin:0 0.3rem;
    color:var(--colour-text);
    font-size: 1.2em;
}

// -----------------------------------------------------------------------------
// @section Toolbar buttons
// -----------------------------------------------------------------------------

.editor-toolbar {
    position:sticky;
    z-index: 100;
    button {
        border: 1px solid var(--colour-background);
    }
    button.active {
        background:var(--colour-background-active);
    }
    button.barred {
        position:relative;
    }
    button.barred i {
        position:relative;
        top:-4px;
    }
    button span.bar {
        position:absolute;
        display:inline-block;
        width:60%;
        height:6px;
        left:20%;
        bottom:2px;
        border:1px var(--colour-border) solid;
        background-color: var(--colour-background);
    }
    button[disabled] span.bar {
        border-color:var(--colour-disabled);
        background-color: var(--colour-disabled);
    }
    button span.bar.FGC {
        background-color: var(--colour-text);
    }
    button[disabled] span.bar.BGC {
        background-color: var(--colour-background);
        border-color: var(--colour-disabled);
    }
}

.editor-body {
    position:relative;
    z-index: 1;
    padding:1.4rem 3rem;
    border-bottom: 1px solid var(--colour-border);
    margin-bottom: 1rem;
    // background-color: var(--colour-background);
    // color:var(--colour-text);
    // Ideally make these options
    min-height:200px;
    max-height:700px;
    overflow-y: scroll;

    // Ensure easy position of custom elements in their containing elements
    h1, h2, h3, p, li, blockquote {
        position:relative;
    }

    p {
        line-height: 1.4rem;
        margin:0.4rem 0;
        padding:0;
    }

    blockquote {
        background: var(--colour-blockquote-background);
        border-left: 10px solid var(--colour-border);
        color:var(--colour-text);
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        font-style: italic;
    }

    li {
        margin: 0.4rem 0;
    }

    p, label, input, select, button {
        color:var(--colour-text)
    }
    
    h1, h2, h3, h4, h5 {
        color:var(--colour-primary);
        padding:0 0 0.5rem 0;
    }
    
    a {
        color:var(--colour-link);
        text-decoration: none;
    }
    a:visited {
        color:var(--colour-link);
    }

    &.heading-numbers { 

        counter-reset: h1;

        h1 {counter-reset: h2}
        h2 {counter-reset: h3}
        h3 {counter-reset: h4}
        h4 {counter-reset: h5}
        h5 {counter-reset: h6}

        h1:before {counter-increment: h1; content: counter(h1) ". "};
        h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) " "}
        h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) " "}
        h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "}
        h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "}
        h5:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". " counter(h6)}
    }


}


// -----------------------------------------------------------------------------
// @section Modals
// -----------------------------------------------------------------------------

.modal-panel {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    font-size:1rem;
    color:var(--colour-text);
    z-index: 200;

    &.no-escape {
        background:var(--colour-modal-panel-background);
    }
    &.escape {
        background:transparent;
    }

    &.show .modal-panel-container {
        opacity:1;
    }
}

.modal-panel-container {
    position:absolute;
    min-width:400px;
    background:var(--colour-background);
    opacity:0;
    transition: all 0.4s ease-in-out 0s;

    i.info {
        color:var(--colour-text)
    }
    i.warning {
        color:var(--colour-warning)
    }
    i.danger {
        color:var(--colour-danger)
    }
}

.modal-panel-body {
    margin: 2rem 0;

    // Forms
    .form-input {

        display:flex;
        justify-content:flex-start;
        margin-bottom: 1rem;
        // Common label attributes apply to the left coloum label and
        // input labels for radio and checkbox inputs
        label {
            font-size: inherit;
            color:inherit;
            cursor: pointer;
        }
        // Fixed size first label
        label:first-child {
            flex-basis:180px;
            flex-shrink:0;
            cursor:none;
        }
        a {
            padding-left:0.5rem;
            cursor:pointer;
            i {
                color:var(--colour-text);
                font-size: 1.6rem;
            }
        }
        .form-control {
            flex-grow:1;
            background:var(--colour-background);
            border: 1px solid var(--colour-border);
            border-radius: 0.4rem;
            padding:0.3rem;
            color:inherit;
            font-size: inherit;
        }
        .form-control.with-button {
            flex-basis:95%;
        }
        textarea {
            width:100%;
        }
        input[type=radio]{
            flex-grow:0;
            margin-left:1rem;
            &.first {
                margin-left:0rem;
            }
        }
    }
    .form-input 
    .form-input a,
    .form-input a:visited {
        color:inherit;
    }
}

.modal-panel-buttons {
    display:flex;
    justify-content: space-between;

    &.centred {
        display:block;
        text-align: right;
    }

    button {
        padding: 0.3rem 0.5rem;
    }
}

.modal-panel-title {
    display:block;
    text-align: center;
    font-size: 1.6rem;
    position:relative;
    margin:0;
    color:inherit;
    width:100%;
    i {
        font-size: 2.4rem;
        position: relative;
        top:0.4rem;
    }
    &.with-text i {
        padding-right:1rem;
    }
}

.modal-panel-overlay {
    display:flex;
    justify-content: center;
    align-items: center;
    .modal-panel-container {
        flex-basis:50%;
        padding:2rem 2rem 1rem 2rem;
        border:1px var(--colour-border) solid;
        border-radius: 0.5rem;
    }
}

.modal-panel-drawer {
    .modal-panel-container {
        top:0;
        left:0;
        padding:2rem;
        width:100%;
        border-bottom:1px var(--colour-border) solid;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out 0s;
    }
    .modal-panel-header,
    .modal-panel-body,
    .modal-panel-buttons {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    &.show .modal-panel-container {
        transform: translateX(0);
    }
}

.modal-panel-full-screen {
    .modal-panel-container {
        width:100vw;
        height:100vh;
        padding:2rem;  
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal-panel-body {
        flex-grow: 1;
    }
}

.modal-panel-positioned {
    .modal-panel-container {
        margin: 0;
        padding: 0;
        border: 1px solid var(--colour-border);
        transition: none;
    }
    .modal-panel-body {
        margin:0;
    }
}


// -----------------------------------------------------------------------------
// @section links.js plugin
// -----------------------------------------------------------------------------

form.arte-link {
    a.panel-link i {
        color:var(--colour-success)
    }
}

// -----------------------------------------------------------------------------
// @section mentions.js plugin
// -----------------------------------------------------------------------------

.mentions {
    input {
        display:block;
        width:100%;
    }
    ul {
        padding:0;
        margin:0;
        max-height: 7.2rem;
        overflow-y: scroll;
    }
    li {
        list-style: none;
        line-height: 1rem;
        padding:0.2rem 0 0.2rem 0.3rem;
        display:block;
        cursor: pointer;
        &.selected {
            background-color:var(--colour-text);
            color:var(--colour-background);
        }
        &:hover{
            background-color:var(--colour-background-hover);
            color:var(--colour-text);
        }
    }
}

// -----------------------------------------------------------------------------
// @section custom.js plugin
// -----------------------------------------------------------------------------

custom {
    position:relative;
    display:block;
    padding:0.5rem;
    margin: 0.3rem 0;
    font-size: 1rem;
    font-weight:normal;
    border:2px solid var(--colour-border);
    transition: border 500ms ease-in-out;
    background-color: var(--colour-blockquote-background);
    &.custom-selected {
        border-color:var(--colour-primary);
    }

    .title {
        display:block;
        margin-bottom:0.3rem;
    }
    .label {
        display:inline-block;
        font-style: italic;
        margin-left: 0.5rem;
    }
    .property1 {
        color:red;
    }
    .property2 {
        color:green;
    }
    .property3 {
        color:rgb(99, 99, 236);
    }
    .advice {
        display:block;
        margin-top:0.5rem;
    }
    button.edit {
        position: absolute;
        top:0.5rem;
        right:0.5rem;
    }
}

// -----------------------------------------------------------------------------
// @section comments.js plugin
// -----------------------------------------------------------------------------

comment {
    display:block;
    position:absolute;
    top:-0.3rem;
    right:-1.6rem;
    button.edit {
        border:none;
        i {
            font-weight:bold;
            color:var(--colour-warning);
        }
    }
    &.custom-selected {
        outline:none;
    }
    &[data-resolved='true']{
        button.edit i {
            color:var(--colour-success);
        }
    }
}
form.comment {
    textarea {
        min-height:140px;
    }
    .timestamps {
        display:flex;
        justify-content: space-between;
    }
    span {
        display:inline-block;
    }
    label {
        font-weight: bold;
    }
    button {
        display:block;
        margin-top:1rem;
    }
}


// -----------------------------------------------------------------------------
// @section colours.js plugin
// -----------------------------------------------------------------------------

#colour-menu {

    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    .colours {
        flex-basis:80%;
    }

    label {
        display:block;
        padding: 1rem 0 0.2rem 0;
    }

    .result {
        flex-basis:20%;
        text-align: center;
    }

    span.final {
        display:block;
        width:56px;
        height:56px;
        margin:0 auto;
        border: 1px solid var(--colour-border);
        border-radius:40px;
    }
    span.black-and-white[data-colour='white'],
    span.black-and-white[data-colour='black'] {
        display:inline-block;
        width:36px;
        height:36px;
        border: 1px solid var(--colour-border)
    }
    span.black-and-white[data-colour='white'] {
        background-color: white;
    }
    span.black-and-white[data-colour='black'] {
        background-color: black;
    }
    .buttons {
        /* flex-basis:100%; */
        padding-top:1rem;
    }
    .colours span {
        display:inline-block;
        width:3%;
        height:24px;
        padding:0;
        margin:0;
        border:var(--colour-border);
        z-index: 1;
    }
    .colours div {
        position:relative;
    }
    .colours span.active,
    span.black-and-white.active {
        position:relative;
        outline: 3px solid var(--colour-text);
        z-index: 100;
    }
    .colours span:hover,
    span.black-and-white:hover {
        position:relative;
        cursor:pointer;
        outline: 3px solid var(--colour-text);
        z-index: 100;
    }
}

// -----------------------------------------------------------------------------
// @section debugging
// -----------------------------------------------------------------------------

div.debug {
    width:100%;
    display:flex;
    flex-direction: row;
    h5 {
        font-size:1.2rem;
        padding:0.4rem 0;
        margin:0;
        color: var(--colour-text);
    }
    div.col {
        width: 50%;
        label {
            display:block;
            font-weight: bold;
            color: var(--colour-text);
        }
        span {
            color: var(--colour-debug);
            font-size: 1rem;
        }
    }
}