@import "dark-theme.css";

/* General */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

div, h1, h2, h3, h4, h5, p, label, input, select, button {
    color:var(--text)
}

a {
    color:var(--text-link);
    text-decoration: none;
}
a:visited {
    color:var(--text-link);
}

/* Index.html */

body {
    background-color: var(--background);
}

body > button#save {
    margin-top:1rem;
}

body > h5 {
    padding-top:0.5rem;
    margin-top:1rem;
    border-top: var(--border) solid 1px;
}

/* Editor */

.editor-container {
    position: relative;
}

.editor-toolbar {
    padding:0.5rem;
    position:sticky;
    top:0rem;
    background:var(--background);
    border:1px solid var(--border);
}

.editor-toolbar-group {
    display:inline-block;
}

.editor-toolbar-group button.active {
    background:var(--toolbar-button-background-active);
}

.editor-toolbar-group-separator {
    margin:0 0.3rem;
    color:var(--text);
    font-size: 1.2em;
}

.editor-body {
    padding:1.4rem;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    color:var(--text);
    /* Ideally make these options */
    min-height:200px;
    max-height:700px;
    overflow-y: scroll;
}

.editor-body p {
    line-height: 1.4rem;
    margin:0.4rem 0;
    padding:0;
}

.editor-body blockquote {
    background: var(--block-quote-background);
    border-left: 10px solid var(--block-quote-border);
    color:var(--text);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;
}

.editor-body li {
    margin: 0.4rem 0;
}

.editor-body.heading-numbers { counter-reset: h1}
.editor-body.heading-numbers h1 {counter-reset: h2}
.editor-body.heading-numbers h2 {counter-reset: h3}
.editor-body.heading-numbers h3 {counter-reset: h4}
.editor-body.heading-numbers h4 {counter-reset: h5}
.editor-body.heading-numbers h5 {counter-reset: h6}
.editor-body.heading-numbers h1:before {counter-increment: h1; content: counter(h1) ". "}
.editor-body.heading-numbers h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) " "}
.editor-body.heading-numbers h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) " "}
.editor-body.heading-numbers h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "}
.editor-body.heading-numbers h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "}
.editor-body.heading-numbers h5:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". " counter(h6)}

/* buttons */

button {
    background:var(--background);
    border: 1px solid var(--border);
    color:var(--text);
    border-radius: 0.3rem;
    padding:0.3rem 0.5rem;
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease;
}

button[disabled] {
    color:var(--text-disabled);
}

button:not([disabled]):hover {
    cursor:pointer;
    background:var(--text);
    color:var(--background);
} 

/* Toolbar buttons */

.editor-toolbar button {
    border: 1px solid var(--toolbar-button-border);
}

.editor-toolbar button.barred {
    position:relative;
}

.editor-toolbar button.barred i {
    position:relative;
    top:-4px;
}

.editor-toolbar button span.bar {
    position:absolute;
    display:inline-block;
    width:60%;
    height:6px;
    left:20%;
    bottom:2px;
    border:1px var(--border) solid;
    background-color: var(--background);
}

.editor-toolbar button[disabled] span.bar {
    border-color:var(--text-disabled);
    background-color: var(--text-disabled);
}

.editor-toolbar button span.bar.FGC {
    background-color: var(--text);
}

.editor-toolbar button[disabled] span.bar.BGC {
    background-color: var(--background);
    border-color: var(--text-disabled);
}


/* Forms */

label {
    font-size: 0.8rem;
}

.form-input {
    display:flex;
    justify-content:flex-start;
    margin-bottom: 1rem;
}

.form-input label {
    flex-basis:25%;
}

.form-control {
    flex-basis:75%;
    background:var(--background);
    border: 1px solid var(--border);
    border-radius: 0.4rem;
    padding:0.3rem;
}

.form-control.with-button {
    flex-basis:70%;
}

.form-input a {
    flex-basis: 5%;
    padding-left:0.5rem;
    cursor:pointer;
}

.form-input a,
.form-input a:visited {
    color:inherit;
}


/* Slide down edit panel */

.edit-panel {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:var(--edit-panel-backgorund);
}

.edit-panel-container {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:1rem;
    background:var(--background);
    border-bottom:1px var(--border) solid;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out 0s;
}

.edit-panel.show .edit-panel-container{
    transform: translateX(0);
}

.edit-panel-header {
    width:100%;
}

.edit-panel .panel-link i {
    font-size: 1.4rem;
}


/* Modal confirm and feedback panels */

.modal-panel {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:var(--modal-background);
}

.modal-panel-container {
    width:80%;
    position:absolute;
    top:25%;
    left:10%;
    padding:1rem;
    background:var(--background);
    border-bottom:1px var(--border) solid;
    opacity:0;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 0.5rem;
}

.modal-panel.show .modal-panel-container {
    opacity:1;
}

.modal-panel-buttons {
    margin-top:2rem;
}

/* Modal popup (an inplace panel that appears near the selection point )*/

.modal-popup {
    box-sizing: border-box;
    display: block;
    /* Stay in place */
    position: fixed;
    left: 0;
    top: 0;
    /* Sit on top */
    z-index: 9999;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    background-color: var(--modal-background); 
}

.modal-popup-content {
    position: absolute;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    border: 1px solid var(--border);
}

.modal-popup-content li,
.modal-popup-content input {
    background-color: var(--background);
    color:var(--text)
}

/* Popup inplace panel */
/* .inplace-panel {
    box-sizing: border-box;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background);
}
.inplace-panel .inplace-content {
    position: absolute;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    border: 1px solid var(--border);
    max-height: 200px;
    width: 200px;
}
.inplace-panel input {
    background-color:var(--background);
    color:var(--text);
    width: 100%;
    padding:0.3rem;
    border:1px solid var(--border);
    outline:none;
    -webkit-appearance: none;
}
.inplace-panel option {
    min-height:0;
    height:1.2rem;
} */

/* Example styling for a custom plugin */

custom {
    position:relative;
    display:block;
    padding:0.5rem;
    margin: 0.3rem 0;
    border-radius:0.3rem;
    font-size: 1rem;
    font-weight:normal;
    border:1px solid var(--border);
    transition: border 500ms ease-in-out;
}
custom, custom > * {
    background-color: var(--block-quote-background);
}

custom.selected {
    border-color:var(--selected-object-border);
}

custom .title {
    display:block;
    margin-bottom:0.3rem;
}

custom .label {
    display:inline-block;
    font-style: italic;
    margin-left: 0.5rem;
}

custom .property1 {
    color:red;
}
custom .property2 {
    color:green;
}
custom .property3 {
    color:rgb(99, 99, 236);
}

custom .advice {
    display:block;
    margin-top:0.5rem;
}

custom button.edit {
    position: absolute;
    top:0.5rem;
    right:0.5rem;
}

/* colours.js plugin */

#colour-menu {
    display:flex;
    flex-wrap: wrap;
}

#colour-menu .colours {
    flex-basis:80%;
}

#colour-menu label {
    display:block;
    padding: 1rem 0;
}

#colour-menu .result {
    flex-basis:20%;
    text-align: center;
}
#colour-menu .result span {
    display:block;
    max-width:80px;
    height:80px;
    margin:0 auto;
}

#colour-menu .buttons {
    flex-basis:100%;
    padding-top:1rem;
}

#colour-menu .colours span {
    display:inline-block;
    width:5%;
    height:32px;
    padding:0;
    margin:0;
    border:var(--border);
    z-index: 1;
}

#colour-menu .colours div{
    position:relative;
}

#colour-menu .colours span.active {
    position:relative;
    outline: 3px solid var(--text);
    z-index: 100;
}

/* debugging */

div#debug h5 {
    font-size:1.2rem;
    padding:0.4rem 0;
    margin:0;
    color: var(--text);
}

div.debug {
    width:100%;
    display:flex;
    flex-direction: row;
}

div.debug div.col {
    width: 50%;
}

div.debug div.col label {
    display:block;
    font-weight: bold;
    color: var(--text);
}

div.debug div.col span {
    color: var(--text-debug);
    font-size: 1rem;
}